/Ejemplos/nbproject/private/
/Ejemplos/build/
/Problematicas/Problema 2/nbproject/private/
/Problematicas/Problema 2/build/
/Problematicas/Problema 3/nbproject/private/
/Problematicas/Problema 3/build/
/Problematicas/Problema 4/nbproject/private/
/Problematicas/Problema 4/build/
/Problematicas/Problema 5/nbproject/private/
/Problematicas/Problema 5/build/
/Problematicas/Problema 1/nbproject/private/
/Problematicas/Problema 1/build/
